<a href="https://colab.research.google.com/github/deklismam/portfolio_datascience/blob/codenation/first_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Solução

Agora aplicaremos a equação abaixo para descobrir o valor de NU_NOTA_MT

`NU_NOTA_MT = 0.53698843*NU_NOTA_CN + 0.20774178*NU_NOTA_LC + 0.24262847*NU_NOTA_CH + 0.02064483*NU_NOTA_REDACAO - 18.777348438076785`

In [0]:
# importando os pacotes necessários para a aplicação dos coeficientes para o cálculo de NU_NOTA_MT
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
from google.colab import files

%matplotlib inline

In [12]:
#  realizando o upload de arquivo já baixado no computador. Caso necessário, segue o link para download do arquivo postado no desafio:  https://www.dropbox.com/s/wo1ui5lops49eyp/test.csv?dl=0

n=files.upload()
df = pd.read_csv (io.BytesIO(n['test.csv']))

Saving test.csv to test (1).csv

In [13]:
# tamanho do dataset
print("Parâmetros: \t {}".format(df.shape[1]))
print("variáveis: \t {}".format(df.shape[0]))
display(df.dtypes)

Parâmetros: 	 47
variáveis: 	 4576

NU_INSCRICAO               object
CO_UF_RESIDENCIA            int64
SG_UF_RESIDENCIA           object
NU_IDADE                    int64
TP_SEXO                    object
TP_COR_RACA                 int64
TP_NACIONALIDADE            int64
TP_ST_CONCLUSAO             int64
TP_ANO_CONCLUIU             int64
TP_ESCOLA                   int64
TP_ENSINO                 float64
IN_TREINEIRO                int64
TP_DEPENDENCIA_ADM_ESC    float64
IN_BAIXA_VISAO              int64
IN_CEGUEIRA                 int64
IN_SURDEZ                   int64
IN_DISLEXIA                 int64
IN_DISCALCULIA              int64
IN_SABATISTA                int64
IN_GESTANTE                 int64
IN_IDOSO                    int64
TP_PRESENCA_CN              int64
TP_PRESENCA_CH              int64
TP_PRESENCA_LC              int64
CO_PROVA_CN                object
CO_PROVA_CH                object
CO_PROVA_LC                object
CO_PROVA_MT                object
NU_NOTA_CN                float64
NU_NOTA_CH                float64
NU_NOTA_LC                float64
TP_LINGUA                   int64
TP_STATUS_REDACAO         float64
NU_NOTA_COMP1             float64
NU_NOTA_COMP2             float64
NU_NOTA_COMP3             float64
NU_NOTA_COMP4             float64
NU_NOTA_COMP5             float64
NU_NOTA_REDACAO           float64
Q001                       object
Q002                       object
Q006                       object
Q024                       object
Q025                       object
Q026                       object
Q027                       object
Q047                       object
dtype: object

In [14]:
df.head()

                               NU_INSCRICAO  CO_UF_RESIDENCIA  ... Q027  Q047
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98                41  ...    C     A
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968                21  ...    F     A
2  b38a03232f43b11c9d0788abaf060f7366053b6d                23  ...  NaN     A
3  70b682d9a3636be23f6120fa9d6b164eb3c6002d                15  ...  NaN     A
4  715494628a50142ce8cb17191cfe6d0f3cae0934                41  ...  NaN     A

[5 rows x 47 columns]

In [15]:
#removendo colunas exceto NU_INSCRICAO, NU_NOTA_CN, NU_NOTA_LC, NU_NOTA_CH, NU_NOTA_REDACAO
df_clean = df.loc[:,['NU_INSCRICAO','NU_NOTA_CN', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO']]
df_clean.head()

                               NU_INSCRICAO  ...  NU_NOTA_REDACAO
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  ...            420.0
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  ...            580.0
2  b38a03232f43b11c9d0788abaf060f7366053b6d  ...            320.0
3  70b682d9a3636be23f6120fa9d6b164eb3c6002d  ...              NaN
4  715494628a50142ce8cb17191cfe6d0f3cae0934  ...            320.0

[5 rows x 5 columns]

In [16]:
 #ver quantidade de NaN em cada uma das colunas abaixo. 
  print(df_clean['NU_INSCRICAO'].isnull().sum())
  print(df_clean['NU_NOTA_CN'].isnull().sum()) 
  print(df_clean['NU_NOTA_LC'].isnull().sum()) 
  print(df_clean['NU_NOTA_CH'].isnull().sum()) 
  print(df_clean['NU_NOTA_REDACAO'].isnull().sum()) 
  

  # observe que nenhum candidato tem número de inscrição vazio. Outro fato importante é que NU_NOTA_CN e NU_NOTA_CH têm a mesma quantidade de valores vazios. Isso se deve ao fato das provas terem sido feitas no mesmo dia. 
  # O mesmo ocorre para NU_NOTA_LC e NU_NOTA_REDACAO

0
1134
1199
1134
1199

In [17]:
# removendo valores nulos
# df2_clean contém apenas os dados a serem analisados!!!

df2_clean = df_clean.dropna(axis=0, how='any')
df2_clean.head()

                               NU_INSCRICAO  ...  NU_NOTA_REDACAO
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  ...            420.0
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  ...            580.0
2  b38a03232f43b11c9d0788abaf060f7366053b6d  ...            320.0
4  715494628a50142ce8cb17191cfe6d0f3cae0934  ...            320.0
5  e656d6bad65c93fb2880f1eba5037008c8e75774  ...            560.0

[5 rows x 5 columns]

In [18]:
# tamanho do dataset
print("Parâmetros: \t {}".format(df2_clean.shape[1]))
print("variáveis: \t {}".format(df2_clean.shape[0]))
display(df2_clean.dtypes)

# neste dataframe houve 1216 inscritos que não tiveram nota relatada em alguma das provas.

Parâmetros: 	 5
variáveis: 	 3360

NU_INSCRICAO        object
NU_NOTA_CN         float64
NU_NOTA_LC         float64
NU_NOTA_CH         float64
NU_NOTA_REDACAO    float64
dtype: object

In [19]:
#Inserindo a coluna NU_NOTA_MT
df2_clean.insert(loc=1, column='NU_NOTA_MT', value='')
df2_clean.head()

                               NU_INSCRICAO  ... NU_NOTA_REDACAO
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  ...           420.0
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  ...           580.0
2  b38a03232f43b11c9d0788abaf060f7366053b6d  ...           320.0
4  715494628a50142ce8cb17191cfe6d0f3cae0934  ...           320.0
5  e656d6bad65c93fb2880f1eba5037008c8e75774  ...           560.0

[5 rows x 6 columns]

In [20]:
# Inserindo o valor de NU_NOTA_MT conforme equação definida em 'train.ipynb'
# A equação da regressão é: NU_NOTA_MT=0.53698843*NU_NOTA_CN + 0.20774178*NU_NOTA_LC + 0.24262847*NU_NOTA_CH + 0.02064483*NU_NOTA_REDACAO-18.777348438076785

df2_clean['NU_NOTA_MT']= df2_clean['NU_NOTA_CN']*0.53698843+df2_clean['NU_NOTA_LC']*0.20774178+df2_clean['NU_NOTA_CH']*0.24262847+df2_clean['NU_NOTA_REDACAO']*0.02064483 - 18.777348438076785;

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
  df2_clean.head()

                               NU_INSCRICAO  ...  NU_NOTA_REDACAO
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  ...            420.0
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  ...            580.0
2  b38a03232f43b11c9d0788abaf060f7366053b6d  ...            320.0
4  715494628a50142ce8cb17191cfe6d0f3cae0934  ...            320.0
5  e656d6bad65c93fb2880f1eba5037008c8e75774  ...            560.0

[5 rows x 6 columns]

In [0]:
#inserindo a coluna NU_NOTA_PESO referente à nota final com os pesos dados no enunciado. Ou seja:
# 'NU_NOTA_PESO = NU_NOTA_MT*3 + NU_NOTA_CN*2 + NU_NOTA_LC*1.5 + NU_NOTA_CH*1 + NU_NOTA_REDACAO*3
df2_clean.insert(loc=5, column='NU_NOTA_PESO', value='')

In [24]:
df2_clean.head()

                               NU_INSCRICAO  ...  NU_NOTA_REDACAO
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  ...            420.0
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  ...            580.0
2  b38a03232f43b11c9d0788abaf060f7366053b6d  ...            320.0
4  715494628a50142ce8cb17191cfe6d0f3cae0934  ...            320.0
5  e656d6bad65c93fb2880f1eba5037008c8e75774  ...            560.0

[5 rows x 7 columns]

In [25]:
#  Inserindo o valor de NU_NOTA_PESO conforme equação definida no enunciado
df2_clean['NU_NOTA_PESO']= df2_clean['NU_NOTA_MT']*3 + df2_clean['NU_NOTA_CN']*2 + df2_clean['NU_NOTA_LC']*1.5 + df2_clean['NU_NOTA_CH']*1 + df2_clean['NU_NOTA_REDACAO']*3;

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df2_clean.head()

                               NU_INSCRICAO  ...  NU_NOTA_REDACAO
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  ...            420.0
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  ...            580.0
2  b38a03232f43b11c9d0788abaf060f7366053b6d  ...            320.0
4  715494628a50142ce8cb17191cfe6d0f3cae0934  ...            320.0
5  e656d6bad65c93fb2880f1eba5037008c8e75774  ...            560.0

[5 rows x 7 columns]

In [27]:
# Colocando por ordem de NU_NOTA_PESO maior 
df3 = df2_clean.sort_values(by='NU_NOTA_PESO', ascending=False)
df3.head()

                                  NU_INSCRICAO  ...  NU_NOTA_REDACAO
1773  c363bec718e45cd6bf8cba599cc3990d77f95c22  ...            920.0
3140  084d4e847b3809c6ee6622dd2e095156230f471b  ...            980.0
107   328ca19128d276eb4fbc309c54ec7f346c803d2f  ...            980.0
1837  e6375694613198f8db0720d7a8a04d8263116116  ...            980.0
2110  34333ed47110024961ff7a95cc92900ab6fbdd33  ...            920.0

[5 rows x 7 columns]

In [29]:
# Salvando um novo dataframe apenas com os dados exigidos no enunciado do desafio (NU_INSCRICAO e NU_NOTA_MT)
df3_clean = df3.loc[:, ['NU_INSCRICAO', 'NU_NOTA_MT']]
df3_clean.head()

                                  NU_INSCRICAO  NU_NOTA_MT
1773  c363bec718e45cd6bf8cba599cc3990d77f95c22  737.122585
3140  084d4e847b3809c6ee6622dd2e095156230f471b  701.673526
107   328ca19128d276eb4fbc309c54ec7f346c803d2f  692.360231
1837  e6375694613198f8db0720d7a8a04d8263116116  683.574514
2110  34333ed47110024961ff7a95cc92900ab6fbdd33  688.656080

In [0]:
# exportando arquivo para answer.csv e removendo o index
df3_clean.to_csv('answer.csv', index=False)